

@model CadastroEstabelecimento.Models.ViewModels.EstabelecimentosFormViewModel;

@{
    ViewData["Title"] = "Editar Estabelecimento";
}

<h2>@ViewData["Title"]</h2>

<h4>Seller</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type ="hidden"  asp-for="Estabelecimentos.Id"/> 
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Estabelecimentos.Razao" class="control-label"></label>
                <input asp-for="Estabelecimentos.Razao" class="form-control" />
                <span asp-validation-for="Estabelecimentos.Razao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estabelecimentos.Nome" class="control-label"></label>
                <input asp-for="Estabelecimentos.Nome" class="form-control" />
                <span asp-validation-for="Estabelecimentos.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estabelecimentos.Cnpj" class="control-label"></label>
                <input asp-for="Estabelecimentos.Cnpj" class="form-control cnpj" />
                <span asp-validation-for="Estabelecimentos.Cnpj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estabelecimentos.Email" class="control-label"></label>
                <input asp-for="Estabelecimentos.Email" class="form-control" />
                <span asp-validation-for="Estabelecimentos.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estabelecimentos.Endereco" class="control-label"></label>
                <input asp-for="Estabelecimentos.Endereco" class="form-control" />
                <span asp-validation-for="Estabelecimentos.Endereco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estabelecimentos.Cidade" class="control-label"></label>
                <input asp-for="Estabelecimentos.Cidade" class="form-control" />
                <span asp-validation-for="Estabelecimentos.Cidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estabelecimentos.Estado" class="control-label"></label>
                <input asp-for="Estabelecimentos.Estado" class="form-control" />
                <span asp-validation-for="Estabelecimentos.Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estabelecimentos.Telefone" class="control-label"></label>
                <input asp-for="Estabelecimentos.Telefone" class="form-control telefone" />
                <span asp-validation-for="Estabelecimentos.Telefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estabelecimentos.DataCadastro" class="control-label"></label>
                <input asp-for="Estabelecimentos.DataCadastro" class="form-control" />
                <span asp-validation-for="Estabelecimentos.DataCadastro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estabelecimentos.Agencia" class="control-label"></label>
                <input asp-for="Estabelecimentos.Agencia" class="form-control agencia" />
                <span asp-validation-for="Estabelecimentos.Agencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estabelecimentos.Conta" class="control-label"></label>
                <input asp-for="Estabelecimentos.Conta" class="form-control conta" />
                <span asp-validation-for="Estabelecimentos.Conta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estabelecimentos.CategoriasId" class="control-label"></label>
                <select asp-for="Estabelecimentos.CategoriasId" asp-items="@(new SelectList(Model.Categorias,"Id","CategoriaDescricao"))" class="form-control"></select>
            </div>
            

            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-default btn-sm"/>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}